

body {
    background:#FEFEFD;
}

.panel-default {
    border-color: #1d3649;
}
.panel-default>.panel-heading {
    background: linear-gradient(to top right, #1d3649, rgba(45,63,74,0.90));
    color:white;
}

.heading { 
    background: url(../assets/drone-eye.png) no-repeat, linear-gradient(to top right, #1d3649, rgba(45,63,74,0.90)),url(../assets/i-l-pattern.png);
    color:white;
    border: none;
    border-bottom:2px solid white;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 10px;
    padding-left:160px;
}

.heading a {
    color:white;
}

.minimalpad {
    margin-top:10px;
    margin-bottom:0px;
}

.nopad {
    margin: 0px;
    padding: 0px;
}

.header p {
    padding-left:5px;
}

.footer {
    background: linear-gradient(to top right, #1d3649, rgba(45,63,74,0.90)),url(../assets/i-l-pattern.png);
    color:white;
    padding:3px;
    border-top:2px solid white;
    margin-top: 75px;
}

.imagecell{
    padding:0px;
}
.mapcell {
    padding:0px;
}
@media (min-width: 992px) {
    .imagecell{
        padding-right: 10px;
    }
    .mapcell {
        padding-left: 10px;
    }
}
#map {
    height:200px;
    max-height:320px;
}

.imagecell img {
    width:100%;
}

span.esri-icon-minus,
span.esri-icon-plus {
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

.relative {
    position:relative;
}
.heading-container {
    position: absolute;
    left: 90px;
    top: 0px;
    height:48px;
}
.arrow-container {
    left: 0px;
    top: 0px;
    height:48px;
}
.arrow {
    position:absolute;
    top:4px;
    left:0px;
    transform-origin: 5px 11px;
}

.bottom-spacer {
    height:20px;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: white;
}

a .callout:hover {
    background: #1d3649;
    color: white;
}

.warning {
    border-left-color: #aa6708;
}

.error {
    border-left-color: #ce4844;
}

.tag {
    border-radius: 4px;
    border: 1px solid #CCC;
    padding:5px;
    margin:6px;
    line-height: 35px;
}

.tag.watson {
    background: #aa6708;
    color:white;
}

.tag.alchemy {
    background: #ce4844;
    color:white;
}

.tag-label {
    padding: 4px;
    padding-right:8px;
    white-space: nowrap;
}

.tag-label-center {
    padding: 4px;
    padding-left:8px;
    padding-right:4px;
    border-left:1px solid #CCC;
    white-space: nowrap;
}

.tag-confidence {
    padding: 4px;
    padding-left:8px;
    border-left:1px solid #CCC;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.white,
.white:hover,
.white:active,
.white:visited {
    color:white;
}

.analysisContainer {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1325px) {
    .analysisContainer {
        width: 41.66666667%;
        padding-left: 10px;
    }
}
.listCell {
    width:320px;
    position: relative;
    min-height: 1px;
    padding: 15px;
    float:left;
    cursor: pointer;
}
.listCell .callout:hover {
    border-color:#1d3649;
    background: #DDD;
}

@media (max-width: 640) {
    .listCell {
        width:100%;
    }
}

.listCell img {
    
    max-height:210px;
}

#content {
    min-height:500px;
}