html
  head
    title skylink - powered by Bluemix, OpenWhisk, Watson, and DJI Drones
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(href='/public/css/index.css' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class='heading')
        h1(class='minimalpad') 
            a(href="/") skylink
        p Your cognitive eye in the sky...